
<h1 class="text-center">RIFA REFUGIO</h1>
<div class="text-center">
<h2> Cada número vale $1.000</h2>
<h3> Para participar primero debes realizar un depósito o transferencia y luego ingresar tus datos acá.</h3>
</div>
<%= render 'form' %>
